STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_REFRESH_TOKEN=

HEALTHFIT_EXPORT_URL=
HEALTHFIT_EXPORT_FILE=_data/healthfit-workouts.csv
HEALTHFIT_EXPORT_DIR=

GOODREADS_API_KEY=
GOODREADS_USER_ID=76558

HARDCOVER_API_TOKEN=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_USER_ID=nateirwin
